type summary add --summary-string "[${var.x}, ${var.y}, ${var.z}, ${var.w}]" glm::vec4
type summary add --summary-string "[${var.x}, ${var.y}, ${var.z}]" glm::vec3
type summary add --summary-string "[${var.x}, ${var.y}]" glm::vec2